/* Created by Ephraim */



body {
    background-image:url("images/IMG-20250505-WA0044.jpg");
    background-size: 90%;
.. background-repeat: no-repeat;
    background-position:top;
}
.text {
    font-family: 'Satisfy', cursive;
    text-align:center;
    font-size: 45px;
    color: red;
    animation-name: colorchange;
    animation-duration: 4s ;
    animation-iteration-count:infinite ;
}
.lust{
    font-family: 'Satisfy', cursive;
    text-align:center;
    font-size: 22px;
    color: white;
    font-weight: bolder;
}
@keyframes colorchange {
    0% {color: pink; }
    10% {color: purple; }
    20% {color: blue; }
    30% {color: red; }
    40% {color: green; }
    50% {color: cyan; }
    70% {color: orange; }   
}
#date {
   text-align: center;
   font-size: small;
   font-family: Courier New;
}
